<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>My Dynamic Page</title>
</head>
<body>
  <div id="movie-details" data-movie-id="<%= movieId %>">
    <!-- Aquí se llenarán los detalles de la película -->
  </div>
  <input type="hidden" id="movieId" value="<%= movieId %>">
  <script src="/movieDetails"></script>
</body>
</html>