<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listado de Películas</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <% if (loggedIn) { %>
    <a href="/userProfile">Perfil</a>
    <a href="/logout">Cerrar sesión</a>
    <% } else { %>
    <a href="/loginForm">Iniciar sesión</a>
    <% } %>
    <h1>Listado de Películas</h1>
    <div id="movieList"></div>
    <script src="/displayMovies"></script>
  </body>
</html>
