<!-- views/home.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Movie Page</title>
  </head>
  <body>
    <div id="user-profile">
      <!-- Aquí se llenarán los detalles de la película -->
    </div>
    <script src="/userDetails"></script>
  </body>
</html>
